* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: cover;
  color: white;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.navbar {
  background: rgba(0, 0, 0, 0.9);
  padding: 15px;
  border-bottom: 2px solid rgb(47, 16, 172);
  transition: 0.4s;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: white !important;
}

.navbar-nav .nav-link {
  color: white !important;
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  background: #2326f9;
  color: white !important;
  border-radius: 5px;
  padding: 5px 10px;
}


.container h1 {
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow: 3px 3px 5px black;
}

.lead {
  font-size: 1.3rem;
  font-style: italic;
  color: #5614d0;
}


.content {
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(214, 207, 207, 0.5);
  max-width: 80%;
  margin-top: 20px;
  animation: fadeIn 1s ease-in-out;
}

.content h2 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content p {
  font-size: 1.2rem;
  line-height: 1.6;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {
  .container h1 {
    font-size: 2.5rem;
  }

  .lead {
    font-size: 1rem;
  }

  .content {
    padding: 20px;
    max-width: 95%;
  }
}